<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

  	<h2>アップロード</h2>
    <form action="/" method="post" enctype="multipart/form-data" >
    	<input type="file" name="input_file" > <br>
		<input type="submit" value="送信" >
    </form>	

  </body>
</html>
