<!DOCTYPE html>
<html>
  <head>
    <title>Salesforce BulkAPI テスト</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ログイン</h1>
    <form action="/login" method="post">
        <input type="text" name="userid">ユーザ名</input><br>
        <input type="text" name="password">パスワード</input><br>
        <input type="submit" value="ログイン" />
    </form>

  </body>
</html>
